<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'Inscription</title>
    <link rel="stylesheet" href="style_form.css">
</head>
<body>
    <div class="form">
        <h1>Créer un client</h1>
        <form method="post" action="{% url 'inscription' %}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" required>
            </div>

            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" required>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="date-naissance">Date de Naissance</label>
                <input type="date" id="date-naissance" name="date_naissance" required>
            </div>

            <div class="form-group">
                <label for="genre">Genre</label>
                <select id="genre" name="genre" required>
                    <option value="masculin">Masculin</option>
                    <option value="feminin">Féminin</option>
                    <option value="autre">Autre</option>
                </select>
            </div>

            <div class="form-group">
                <label for="work">Description</label>
                <textarea id="work" name="work" rows="4" placeholder="Décrivez votre travail..."></textarea>
            </div>

            <div class="form-group">
                <label for="signe-astrologique">Signe Astrologique</label>
                <input type="text" id="signe-astrologique" name="signe_astrologique" required>
            </div>

            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" id="adresse" name="adresse" required>
            </div>

            <div class="form-group">
                <label for="phone">Numéro de Téléphone</label>
                <input type="tel" id="phone" name="phone" required>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" required>
            </div>

            <div class="form-group">
                <label for="coachs">Coachs</label>
                <select id="coachs" name="coachs" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <button type="submit">Créer</button>
        </form>
    </div>
</body>
</html>
